:host {
    position: inherit;
    height: 100%;
    width: 100%;
}

.lens {
    height: 100%;
    width: 100%;
}

video{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: 0;
}

canvas {
    display: none; 
}