.container{
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: absolute;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.image-container{
    // position: relative;
    // height: 300px;
    // width: 300px;
    // max-width: 90vw;
    // max-height: 90vw;
    // overflow: hidden;
    // border-radius: 500px;
}   

img {
    position: absolute;
    // left: 50%;
    // top: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // -moz-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    // min-height: 100%;
    // min-width: 100%;
}

.overlay {
    position: fixed; 
    // display: flex;
    // justify-content: center;
    // align-items: center;
    top: 0px; 
    width: 100vw; 
    height: 100vh;
    left: 0px; 
    background-color: rgba(0,0,0,.5);
}