<div class="container">
    <app-camera (onTag)="renderTag($event)" (onStart)="onStart($event)" (onResults)="renderResults($event)" (onError)="onError($event)"></app-camera>
</div>

<div style="position: fixed; bottom: 0px; width: 100vw; height: 100px; display: flex; align-items: center; justify-content: center; background-color: grey;"> 
    Tap to Search
</div>


<div class="overlay" *ngIf="searching">
        <div></div>
        <div *ngIf="userGeneratedImage" class="image-container">
            <img [src]="userGeneratedImage">
        </div>
        <div class="layer">
            <button class="button" (click)="newSearch()">New Search</button>
            <div class='tag-container'>
                <div *ngFor="let tag of tags; let i = index;" class="tag">
                        {{tag}}
                </div>
            </div>
            <div *ngFor="let result of results; let i = index;" >
                result {{i}}: {{result.title}}
            </div>
        </div>
</div>
